# Imports

In [23]:
import pandas as pd
import os
import xlsxwriter
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

## Read In the Data

In [68]:
filepath_anon= os.path.abspath(r"C:\Users\kdl8569\Stress_Testing\anon.xlsx")
filepath1a = os.path.abspath(r"C:\Users\kdl8569\Stress_Testing\Metrics.xlsx")

metrics_national = pd.read_excel(filepath1a, "National Values")
metrics_international = pd.read_excel(filepath1a, "International Values")
df = pd.read_excel(filepath_anon, index_col=0)

### Make Headers

In [69]:
metrics_national = metrics_national.rename(columns=metrics_national.iloc[0])#Make first row headers
metrics_national = metrics_national.drop(metrics_national.index[0]) #drop first row
metrics_national.head()

,Adversity,DATE_QTR,Date Month,REAL_GDP_GROWTH,NOMINAL_GDP_GROWTH,REAL_DISPOSABLE_INCOME_GROWTH,NOMINAL_DISPOSABLE_INCOME_GROWTH,UNEMPLOYMENT_RATE,CPI_INFLATION_RATE,THREE_MONTH_TREASURY_RATE,FIVE_YEAR_TREASURY_YIELD,TEN_YEAR_TREASURY_YIELD,BBB_CORPORATE_YEILD,MORTGAGE_RATE,PRIME_RATE,DOWJONES_TOTAL_STOCK_MARKET_INDEX,HOUSE_PRICE_INDEX,COMERCIAL_REAL_ESTATE_PRICE_INDEX,MARKET_VOLATILITY_INDEX
1,Historical,Q1 2000,1 mar 2000,1.5,4.2,7.9,11.5,4,4,5.5,6.6,6.7,8.3,8.3,8.7,14296,102,127,27
2,Historical,Q1 2001,2001-03-01 00:00:00,-1.1,1.3,3.7,6.5,4.2,3.9,4.8,4.9,5.3,7.5,7,8.6,10646,112,143,32.8
3,Historical,Q1 2002,2002-03-01 00:00:00,3.5,4.9,9.3,10.1,5.7,1.3,1.7,4.5,5.4,7.4,7,4.8,10776,120,139,26.1
4,Historical,Q1 2003,2003-03-01 00:00:00,2.2,4.1,0.9,3.8,5.9,4.2,1.2,2.9,4.2,6.2,5.8,4.3,8052,132,152,34.7
5,Historical,Q1 2004,2004-03-01 00:00:00,2.2,5.2,1.9,5.3,5.7,3.4,0.9,3,4.1,5,5.6,4,11039,148,153,21.6

## Merge National & International

In [94]:
metrics = metrics_national.merge(metrics_international,on=['Adversity', 'DATE_QTR','Date Month'])
#metrics.head()

In [73]:
metrics['Date Month'] = pd.to_datetime(metrics['Date Month'])
#metrics.info()

In [74]:
#Rename so Can Merge
metrics = metrics.rename(columns={'Date Month':'Date', "DATE_QTR":"Qdate"})
df = df.rename(columns={'Source Date':'Date'})

## Merge Metrics with Bank Data

In [84]:
dff= df.merge(metrics, left_on=['Qdate'], right_on=['Qdate'])

### Rename some columns

In [99]:
dff = dff.rename(columns={'Date_y':'QTR_CLOSE', 'Date_x':'Date','Times Past Due 2':'Past_Due30_59',
                          'Times Past Due 3': 'Past_Due60_89', 'Times Past Due 4': 'Past_Due90+'})
dff.head()

,PK,Date,Qdate,Balance,Days Past Due,Past_Due30_59,Past_Due60_89,Past_Due90+,Credit Risk Code,Adversity,QTR_CLOSE,REAL_GDP_GROWTH,NOMINAL_GDP_GROWTH,REAL_DISPOSABLE_INCOME_GROWTH,NOMINAL_DISPOSABLE_INCOME_GROWTH,UNEMPLOYMENT_RATE,CPI_INFLATION_RATE,THREE_MONTH_TREASURY_RATE,FIVE_YEAR_TREASURY_YIELD,TEN_YEAR_TREASURY_YIELD,BBB_CORPORATE_YEILD,MORTGAGE_RATE,PRIME_RATE,DOWJONES_TOTAL_STOCK_MARKET_INDEX,HOUSE_PRICE_INDEX,COMERCIAL_REAL_ESTATE_PRICE_INDEX,MARKET_VOLATILITY_INDEX,EURO_AREA_REAL_GDP_GROWTH,EURO_AREA_INFLATION,EURO_AREA_BILATERAL_DOLLAR_EXCHANGE_RATE,DEVELOPING_ASIA_REAL_GDP_GROWTH,DEVELOPING_ASIA_INFLATION,DEV_ASIA_BILATERAL_DOLLAR_EXCHANGE_RATE,JAPAN_REAL_GDP_GROWTH,JAPAN_INFLATION,JAPAN_BILATERAL_DOLLAR_EXCHANGE_RATE,UK_REAL_GDP_GROWTH,UK_INFLATION,UK_BILATERAL_DOLLAR_EXCHANGE_RATE
0,2,2015-01-31,Q1 2015,7685.03,15,10,5,1,5.0,Historical,2015-03-01,3.2,3,4.6,2.8,5.5,-2.6,0,1.5,2,3.9,3.7,3.3,21708,168,241,22.4,3.0,-0.7,1.074,5.7,0.9,88.1,5.5,0.5,120.0,2.1,-1.1,1.485
1,3,2015-01-31,Q1 2015,181479.00,0,0,0,0,3.0,Historical,2015-03-01,3.2,3,4.6,2.8,5.5,-2.6,0,1.5,2,3.9,3.7,3.3,21708,168,241,22.4,3.0,-0.7,1.074,5.7,0.9,88.1,5.5,0.5,120.0,2.1,-1.1,1.485
2,4,2015-01-31,Q1 2015,67382.89,0,0,0,0,3.0,Historical,2015-03-01,3.2,3,4.6,2.8,5.5,-2.6,0,1.5,2,3.9,3.7,3.3,21708,168,241,22.4,3.0,-0.7,1.074,5.7,0.9,88.1,5.5,0.5,120.0,2.1,-1.1,1.485
3,5,2015-01-31,Q1 2015,115580.00,0,0,0,0,1.0,Historical,2015-03-01,3.2,3,4.6,2.8,5.5,-2.6,0,1.5,2,3.9,3.7,3.3,21708,168,241,22.4,3.0,-0.7,1.074,5.7,0.9,88.1,5.5,0.5,120.0,2.1,-1.1,1.485
4,6,2015-01-31,Q1 2015,111445.00,0,0,0,0,1.0,Historical,2015-03-01,3.2,3,4.6,2.8,5.5,-2.6,0,1.5,2,3.9,3.7,3.3,21708,168,241,22.4,3.0,-0.7,1.074,5.7,0.9,88.1,5.5,0.5,120.0,2.1,-1.1,1.485

In [101]:
dff.loc[dff['Past_Due90+']==0,'Default'] = 0
dff.loc[dff['Past_Due90+']!=0, 'Default'] = 1

In [107]:
dff['Default'].value_counts()

0.0    244318
1.0     20471
Name: Default, dtype: int64

In [108]:
dff.to_csv('final.csv')