# Imports

In [1]:
import pandas as pd
import os
import xlsxwriter
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

## Read In the Data

In [2]:
filepath_anon= os.path.abspath(r"C:\Users\kdl8569\Stress_Testing\anon.xlsx")
filepath1a = os.path.abspath(r"C:\Users\kdl8569\Stress_Testing\Metrics.xlsx")

metrics_national = pd.read_excel(filepath1a, "National Values")
metrics_international = pd.read_excel(filepath1a, "International Values")
df = pd.read_excel(filepath_anon)

### Make Headers

In [3]:
metrics_national = metrics_national.rename(columns=metrics_national.iloc[0])#Make first row headers
metrics_national = metrics_national.drop(metrics_national.index[0]) #drop first row
metrics_national.head()

,Adversity,DATE_QTR,Date Month,REAL_GDP_GROWTH,NOMINAL_GDP_GROWTH,REAL_DISPOSABLE_INCOME_GROWTH,NOMINAL_DISPOSABLE_INCOME_GROWTH,UNEMPLOYMENT_RATE,CPI_INFLATION_RATE,THREE_MONTH_TREASURY_RATE,FIVE_YEAR_TREASURY_YIELD,TEN_YEAR_TREASURY_YIELD,BBB_CORPORATE_YEILD,MORTGAGE_RATE,PRIME_RATE,DOWJONES_TOTAL_STOCK_MARKET_INDEX,HOUSE_PRICE_INDEX,COMERCIAL_REAL_ESTATE_PRICE_INDEX,MARKET_VOLATILITY_INDEX
1,Historical,Q1 2000,1 mar 2000,1.5,4.2,7.9,11.5,4,4,5.5,6.6,6.7,8.3,8.3,8.7,14296,102,127,27
2,Historical,Q2 2000,1 jun 2000,7.5,10.2,4.5,6.4,3.9,3.2,5.7,6.5,6.4,8.6,8.3,9.2,13619,105,126,33.5
3,Historical,Q3 2000,1 sep 2000,0.5,2.8,4.7,7.3,4,3.7,6,6.1,6.1,8.2,8,9.5,13613,107,139,21.9
4,Historical,Q4 2000,1 dec 2000,2.5,4.7,1.4,3.7,3.9,2.9,6,5.6,5.8,8,7.6,9.5,12176,110,144,31.7
5,Historical,Q1 2001,2001-03-01 00:00:00,-1.1,1.3,3.7,6.5,4.2,3.9,4.8,4.9,5.3,7.5,7,8.6,10646,112,143,32.8

In [4]:
metrics = metrics_national.merge(metrics_international,on=['Adversity', 'DATE_QTR','Date Month'])
#metrics

In [5]:
metrics['Date Month'] = pd.to_datetime(metrics['Date Month'])
#metrics.info()

In [6]:
#Rename so Can Merge
metrics = metrics.rename(columns={'Date Month':'Date'})
df = df.rename(columns={'Source Date':'Date'})

In [ ]:
df['Qdate'] = pd.PeriodIndex(df['Date'],freq='Q').strftime('%Q %Y')

In [28]:
#df['Adversity'] = "Historical"
#df.loc[df['Date'] > "2020-01-01", 'Adversity'] = "Future"

In [36]:
metrics.groupby(['Date']).size()

Date
2000-03-01    1
2000-06-01    1
2000-09-01    1
2000-12-01    1
2001-03-01    1
2001-06-01    1
2001-09-01    1
2001-12-01    1
2002-03-01    1
2002-06-01    1
2002-09-01    1
2002-12-01    1
2003-03-01    1
2003-06-01    1
2003-09-01    1
2003-12-01    1
2004-03-01    1
2004-06-01    1
2004-09-01    1
2004-12-01    1
2005-03-01    1
2005-06-01    1
2005-09-01    1
2005-12-01    1
2006-03-01    1
2006-06-01    1
2006-09-01    1
2006-12-01    1
2007-03-01    1
2007-06-01    1
2007-09-01    1
2007-12-01    1
2008-03-01    1
2008-06-01    1
2008-09-01    1
2008-12-01    1
2009-03-01    1
2009-06-01    1
2009-09-01    1
2009-12-01    1
2010-03-01    1
2010-06-01    1
2010-09-01    1
2010-12-01    1
2011-03-01    1
2011-06-01    1
2011-09-01    1
2011-12-01    1
2012-03-01    1
2012-06-01    1
2012-09-01    1
2012-12-01    1
2013-03-01    1
2013-06-01    1
2013-09-01    1
2013-12-01    1
2014-03-01    1
2014-06-01    1
2014-09-01    1
2014-12-01    1
2015-03-01    1
2015-06-01    1
2015-09-01    1
2015-12-01    1
2016-03-01    1
2016-06-01    1
2016-09-01    1
2016-12-01    1
2017-03-01    1
2017-06-01    1
2017-09-01    1
2017-12-01    1
2018-03-01    1
2018-06-01    1
2018-09-01    1
2018-12-01    1
2019-03-01    1
2019-06-01    1
2019-09-01    1
2019-12-01    3
2020-03-01    2
2020-06-01    2
2020-09-01    2
2020-12-01    2
2021-03-01    2
2021-06-01    2
2021-09-01    2
2021-12-01    2
2022-03-01    2
2022-06-01    2
2022-09-01    2
2022-12-01    2
2023-03-01    2
dtype: int64

In [33]:
df.head()

,Unnamed: 0,PK,Date,Balance,Days Past Due,Times Past Due 2,Times Past Due 3,Times Past Due 4,Credit Risk Code,Adversity
0,0,2,2015-01-31,7685.03,15,10,5,1,5.0,Historical
1,1,3,2015-01-31,181479.00,0,0,0,0,3.0,Historical
2,2,4,2015-01-31,67382.89,0,0,0,0,3.0,Historical
3,3,5,2015-01-31,115580.00,0,0,0,0,1.0,Historical
4,4,6,2015-01-31,111445.00,0,0,0,0,1.0,Historical

In [18]:
#Have to turn into strings because pandas cannot merge on datetime format
df['Date'] = df['Date'].astype(str)
metrics['Date'] = metrics['Date'].astype(str)

In [16]:
dff = pd.merge(df, metrics, on=['Date','Adversity'])

In [17]:
dff

Empty DataFrame
Columns: [Unnamed: 0, PK, Date, Balance,  Current Days Past Due, Times Past Due 30-59, Times Past Due 60-89, Times Past Due 90+, Credit Risk Code, Adversity, DATE_QTR, REAL_GDP_GROWTH, NOMINAL_GDP_GROWTH, REAL_DISPOSABLE_INCOME_GROWTH, NOMINAL_DISPOSABLE_INCOME_GROWTH, UNEMPLOYMENT_RATE, CPI_INFLATION_RATE, THREE_MONTH_TREASURY_RATE, FIVE_YEAR_TREASURY_YIELD, TEN_YEAR_TREASURY_YIELD, BBB_CORPORATE_YEILD, MORTGAGE_RATE, PRIME_RATE, DOWJONES_TOTAL_STOCK_MARKET_INDEX, HOUSE_PRICE_INDEX, COMERCIAL_REAL_ESTATE_PRICE_INDEX, MARKET_VOLATILITY_INDEX, EURO_AREA_REAL_GDP_GROWTH, EURO_AREA_INFLATION, EURO_AREA_BILATERAL_DOLLAR_EXCHANGE_RATE, DEVELOPING_ASIA_REAL_GDP_GROWTH, DEVELOPING_ASIA_INFLATION, DEV_ASIA_BILATERAL_DOLLAR_EXCHANGE_RATE, JAPAN_REAL_GDP_GROWTH, JAPAN_INFLATION, JAPAN_BILATERAL_DOLLAR_EXCHANGE_RATE, UK_REAL_GDP_GROWTH, UK_INFLATION, UK_BILATERAL_DOLLAR_EXCHANGE_RATE]
Index: []

In [ ]:
metrics.head()

## Title

### sub