# Imports

In [1]:
import pandas as pd
import os
import xlsxwriter
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

## Read In the Data

In [2]:
filepath_anon= os.path.abspath(r"C:\Users\kdl8569\Stress_Testing\anon.xlsx")
filepath1a = os.path.abspath(r"C:\Users\kdl8569\Stress_Testing\Metrics.xlsx")

metrics_national = pd.read_excel(filepath1a, "National Values")
metrics_international = pd.read_excel(filepath1a, "International Values")
df = pd.read_excel(filepath_anon)

### Make Headers

In [8]:
metrics_national = metrics_national.rename(columns=metrics_national.iloc[0])#Make first row headers
#metrics_national = metrics_national.drop(metrics_national.index[0]) #drop first row
metrics_national.head()

,Adversity,DATE_QTR,Date Month,REAL_GDP_GROWTH,NOMINAL_GDP_GROWTH,REAL_DISPOSABLE_INCOME_GROWTH,NOMINAL_DISPOSABLE_INCOME_GROWTH,UNEMPLOYMENT_RATE,CPI_INFLATION_RATE,THREE_MONTH_TREASURY_RATE,FIVE_YEAR_TREASURY_YIELD,TEN_YEAR_TREASURY_YIELD,BBB_CORPORATE_YEILD,MORTGAGE_RATE,PRIME_RATE,DOWJONES_TOTAL_STOCK_MARKET_INDEX,HOUSE_PRICE_INDEX,COMERCIAL_REAL_ESTATE_PRICE_INDEX,MARKET_VOLATILITY_INDEX
0,Adversity,DATE_QTR,Date Month,REAL_GDP_GROWTH,NOMINAL_GDP_GROWTH,REAL_DISPOSABLE_INCOME_GROWTH,NOMINAL_DISPOSABLE_INCOME_GROWTH,UNEMPLOYMENT_RATE,CPI_INFLATION_RATE,THREE_MONTH_TREASURY_RATE,FIVE_YEAR_TREASURY_YIELD,TEN_YEAR_TREASURY_YIELD,BBB_CORPORATE_YEILD,MORTGAGE_RATE,PRIME_RATE,DOWJONES_TOTAL_STOCK_MARKET_INDEX,HOUSE_PRICE_INDEX,COMERCIAL_REAL_ESTATE_PRICE_INDEX,MARKET_VOLATILITY_INDEX
1,Historical,Q1 2000,1 mar 2000,1.5,4.2,7.9,11.5,4,4,5.5,6.6,6.7,8.3,8.3,8.7,14296,102,127,27
2,Historical,Q2 2000,1 jun 2000,7.5,10.2,4.5,6.4,3.9,3.2,5.7,6.5,6.4,8.6,8.3,9.2,13619,105,126,33.5
3,Historical,Q3 2000,1 sep 2000,0.5,2.8,4.7,7.3,4,3.7,6,6.1,6.1,8.2,8,9.5,13613,107,139,21.9
4,Historical,Q4 2000,1 dec 2000,2.5,4.7,1.4,3.7,3.9,2.9,6,5.6,5.8,8,7.6,9.5,12176,110,144,31.7

In [9]:
metrics = metrics_national.merge(metrics_international,on=['Adversity', 'DATE_QTR','Date Month'])
#metrics

In [10]:
metrics['Date Month'] = pd.to_datetime(metrics['Date Month'])

In [12]:
#Rename so Can Merge
metrics = metrics.rename(columns={'Date Month':'Date'})
df = df.rename(columns={'Source Date':'Date'})

In [13]:
df['Date'] = pd.PeriodIndex(df['Date'].astype(str), freq='M')#.strftime('%m/%d/%Y')

TypeError: Incorrect dtype

In [14]:
#Have to turn into strings because pandas cannot merge on datetime format
df['Date'] = df['Date'].astype(str)
metrics['Date'] = metrics['Date'].astype(str)

In [15]:
df['Adversity'] = "Historical"

In [16]:
dff = pd.merge(df, metrics, on=['Date','Adversity'])

In [17]:
dff

Empty DataFrame
Columns: [Unnamed: 0, PK, Date, Balance,  Current Days Past Due, Times Past Due 30-59, Times Past Due 60-89, Times Past Due 90+, Credit Risk Code, Adversity, DATE_QTR, REAL_GDP_GROWTH, NOMINAL_GDP_GROWTH, REAL_DISPOSABLE_INCOME_GROWTH, NOMINAL_DISPOSABLE_INCOME_GROWTH, UNEMPLOYMENT_RATE, CPI_INFLATION_RATE, THREE_MONTH_TREASURY_RATE, FIVE_YEAR_TREASURY_YIELD, TEN_YEAR_TREASURY_YIELD, BBB_CORPORATE_YEILD, MORTGAGE_RATE, PRIME_RATE, DOWJONES_TOTAL_STOCK_MARKET_INDEX, HOUSE_PRICE_INDEX, COMERCIAL_REAL_ESTATE_PRICE_INDEX, MARKET_VOLATILITY_INDEX, EURO_AREA_REAL_GDP_GROWTH, EURO_AREA_INFLATION, EURO_AREA_BILATERAL_DOLLAR_EXCHANGE_RATE, DEVELOPING_ASIA_REAL_GDP_GROWTH, DEVELOPING_ASIA_INFLATION, DEV_ASIA_BILATERAL_DOLLAR_EXCHANGE_RATE, JAPAN_REAL_GDP_GROWTH, JAPAN_INFLATION, JAPAN_BILATERAL_DOLLAR_EXCHANGE_RATE, UK_REAL_GDP_GROWTH, UK_INFLATION, UK_BILATERAL_DOLLAR_EXCHANGE_RATE]
Index: []

In [ ]:
metrics.head()

## Title

### sub